<ListView [items]="chats" class="list-group" (itemTap)="goToChat($event)">
  <ng-template let-chat="item" let-index="index">
    <GridLayout rows="auto, auto" columns="auto, *, auto" class="list-group-item">
      <Image row="0" col="0" rowSpan="2" [src]="chat.contact.avatar" class="thumb"></Image>
      <Label row="0" col="1" [text]="chat.contact.name"></Label>
      <Label row="1" col="1" [text]="chat.text" class="body"></Label>
      <Label row="0" col="2" [text]="chat.when | shortWhen | uppercase"
        class="body time" [class.time-unread]="chat.unread > 0"></Label>
      <StackLayout row="1" col="2" orientation="horizontal" class="m-x-auto">
        <Label *ngIf="chat.muted" [text]="'mdi-volume-off'|fonticon" class="mdi muted"></Label>
        <Label *ngIf="chat.unread > 0" [text]="chat.unread" class="body unread"></Label>
      </StackLayout>
    </GridLayout>
  </ng-template>
</ListView>