@import '~nativescript-theme-core/scss/forest';
@import '~nativescript-theme-core/scss/index';
@import 'chats.component.common';

$lightgreen: #25D366;

.unread {
  font-size: 11;
  padding-top: 2;
  border-radius: 50%;
  background-color: $lightgreen;
}

.time {
  &-unread {
    color: $lightgreen;
  }
  color: $grey-dark;
  font-size: 12;
}