.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

.action-bar {
  .action-bar-button {
    border-color: transparent;
    background-color: transparent;
    font-size: 20;
    border-width: 1;
  }
}