.fab-button {
  height: 56;
  width: 56;
  margin: 15;
  background-color: #25D366;
  horizontal-align: right;
  vertical-align: bottom;
}
.tab-view {
  font-weight: bold;
  font-size: 14;
  tab-text-color: rgba(255, 255, 255, 0.5);
  selected-tab-text-color: white;
  android-selected-tab-highlight-color: white;
}